html {
  font-family: "Fredoka One", sans-serif;
}

.btn-ghost {
  background-color: transparent;
  border-color: #990073;
  color: #c09;
}

.btn-ghost:hover {
  background-color: #c9fcff;
  border-color: #990073;
  color: #c09;
}

p {
  max-width: 19em;
  color: #c09;
  transform: rotate(-5deg);
}

h1 {
  color: #990073;
  transform: rotate(-10deg);
}

.banner {
  position: relative;
  background-image: repeating-linear-gradient(-45deg, #c9fcff, #c9fcff 1%, #d4fdff 1%, #d4fdff 2%);
  min-height: 500px;
}

.cherry {
  position: absolute;
  width: 14%;
  left: 79.6%;
  bottom: 66%;
  z-index: 5;
}

.vanilla-fudge {
  position: absolute;
  width: 14%;
  left: 79.5%;
  bottom: 51.5%;
  z-index: 4;
}

.chocolate-chip {
  position: absolute;
  width: 14%;
  left: 80.3%;
  bottom: 38%;
  z-index: 3;
}

.mint-chip {
  position: absolute;
  width: 14%;
  left: 80%;
  bottom: 22%;
  z-index: 1;
}

.cone {
  position: absolute;
  width: 14%;
  left: 80%;
  bottom: 3%;
  z-index: 2;
}

@keyframes drop-down {


}
