html {
  font-family: "Fredoka One", sans-serif;
}

.btn-ghost {
  background-color: transparent;
  border-color: #990073;
  color: #c09;
  text-shadow: 1px 1px 1px #990073;
}

.btn-ghost:hover {
  background-color: #c9fcff;
  border-color: #990073;
  color: #c09;
}

p {
  max-width: 19em;
  color: #c09;
  transform: rotate(-5deg);
  text-shadow: 1px 1px 1px #990073;
}

h1 {
  color: #990073;
  transform: rotate(-10deg);
  text-shadow: 1px 1px 1px #990073;
}

.banner {
  position: relative;
  background-image: repeating-linear-gradient(-45deg, #c9fcff, #c9fcff 1%, #d4fdff 1%, #d4fdff 2%);
  border-top: solid 8px;
  border-bottom: solid 8px;
  border-color: #b3fbff;
  min-height: 500px;
}

.cherry {
  position: absolute;
  width: 14%;
  left: 79.6%;
  bottom: 66%;
  z-index: 5;
  animation: cherry-drop-down .5s ease-in forwards;
  animation-delay: 2s;
}

.vanilla-fudge {
  position: absolute;
  width: 14%;
  left: 79.5%;
  bottom: 51.5%;
  z-index: 4;
  animation: vanilla-drop-down .5s ease-in forwards;
  animation-delay: 1.5s;
}

.chocolate-chip {
  position: absolute;
  width: 14%;
  left: 80.3%;
  bottom: 38%;
  z-index: 3;
  animation: choco-chip-drop-down .5s ease-in forwards;
  animation-delay: 1s;
}

.mint-chip {
  position: absolute;
  width: 14%;
  left: 80%;
  bottom: 23%;
  z-index: 1;
  animation: mint-drop-down .5s ease-in forwards;
  animation-delay: .5s;
}

.cone {
  position: absolute;
  width: 14%;
  left: 80%;
  bottom: 3%;
  z-index: 2;
  animation: cone-drop-down .5s ease-in forwards;
}

.banner-content {
  animation: come-in 1s linear forwards;
  transform-origin: left center;
  transform: translate(100px, 0);
}

@keyframes cone-drop-down {

  0% {
    bottom: 500px;
  }

  100% {
    bottom: 0;
  }
}

@keyframes mint-drop-down {

  0% {
    bottom: 500px;
  }

  100% {
    bottom: 100px;
  }

}

@keyframes choco-chip-drop-down {

  0% {
    bottom: 500px;
  }

  100% {
    bottom: 180px;
  }

}

@keyframes vanilla-drop-down {

  0% {
    bottom: 500px;
  }

  100% {
    bottom: 250px;
  }

}

@keyframes cherry-drop-down {

  0% {
    bottom: 500px;
  }

  100% {
    bottom: 320px;
  }

}

@keyframes come-in {

  0% {
    opacity: 0;
    filter: blur(10px);
  }

  100% {
    opacity: 1;
    filter: blur(0);
  }
}
